CRAN BiocManager
CRAN tidyverse
CRAN Seurat
CRAN vroom
CRAN svglite
CRAN circlize
CRAN reactable
CRAN shiny
CRAN shinyWidgets
CRAN shinyFeedback
CRAN shinycssloaders
CRAN rclipboard
CRAN ggthemes
BIOCMANAGER multtest
CRAN metap
CRAN DT
CRAN dplyr
BIOCMANAGER ComplexHeatmap
BIOCMANAGER tradeSeq
BIOCMANAGER SingleCellExperiment
BIOCMANAGER slingshot
BIOCMANAGER biomaRt
BIOCMANAGER topGO
BIOCMANAGER glmGamPoi
